@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {
  --padding: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #eee;
  font-family: 'Geist', system-ui, sans-serif;
}

.container {
  display: flex;
}

.menubar {
  background-color: rgb(46, 46, 46);
  padding: var(--padding);
  position: fixed;
  top: 0;
  width: 300px;
  height: 100vh;
}

.notes-container {
  padding: var(--padding);
  background-color: rgb(34, 34, 34);
  display: grid;
  gap: var(--padding);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-left: 300px;
}

.note {
  background-color: #333;
  border-radius: 8px;
  padding: var(--padding);
}
